* {
    
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color:  rgb(48, 83, 119);
}

.my-photo {
    width: 250px;
    margin-bottom: 100px;
    border: 2px solid rgb(93, 150, 207);
    border-radius: 25px;
}
.detail{
   padding:20px;
   width: 50%;
   height: 302px;
   border: 2px solid rgb(93, 150, 207);
   border-radius: 25px;

}
.about-me{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 75px;
    margin-bottom: 75px;
}
.contact-Me{
    display: flex;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    height: 20px;
    background: white;
    margin-top: 100px;
    margin:30px;


}

.nav-bar {
    position: relative;
    width: 100%;
    height: 25px;
}

nav {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 20px 0;
    align-items: flex-end;
    justify-content: space-between;
    background-color: rgb(177, 192, 218); ;
    flex-wrap: wrap;
}
nav ul li{
    display: flex;
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: rgb(29, 33, 119);
}

.detail h3{
    color: rgb(44, 101, 151);
    margin-bottom: 20px;
}

.detail p {
    line-height: 22px;
}
.detail a{
    background: rgb(60, 93, 149);
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
    display: inline-block;
    margin: 30px;
    border-radius: 5px;
}


.projects-container h1 {
    text-align: center;
    margin-bottom: 40px;
}
.container-first-project{
    display: flex;
    justify-content: center;
}

.project-first {
    display: flex;
    background-image: url(../fauzan-saari-cjYQBSKDSII-unsplash.jpg);
    background-size: cover;
    border-radius: 10px;
    width: 630px;
    height: 400px;
    margin-bottom: 15px;
}

.main-project-title {
   background-color: rgb(75, 156, 196);
    margin-top: 325px;
    margin-left: 20px;
    padding: 5px;;
}

.projects{
    display:flex ;
    gap: 2rem;
    justify-content: center;
    padding: 10px;
}

.projects a {
    text-decoration: none;
}

.project-1{
display: flex;
background-image: url(../erik-mclean-eQ7v8A49oVs-unsplash.jpg);
background-size: cover;
border-radius: 10px;
width: 300px;
height: 300px;
margin-bottom: 19px;
}

.title-project{
    background-color: rgb(75, 156, 196);
    margin-top: 250px;
    margin-left: 20px;
    padding: 5px;
}

.project-2{
    display: flex;
    background-image: url(../marissa-grootes-TVllFyGaLEA-unsplash.jpg);
    background-size: cover;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}
.title-project2{
    background-color: rgb(75, 156, 196);
    margin-top: 250px;
    margin-left: 20px;
    padding: 5px;

}
.project-3{
    display: flex;
    background-image: url(../myke-simon-atsUqIm3wxo-unsplash.jpg);
    background-size: cover;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin-bottom: 19px;
}
.title-project3{
    background-color: rgb(75, 156, 196);
    margin-top: 250px;
    margin-left: 20px;
    padding: 5px;

}
.project-4{
    display: flex;
    background-image: url(../omid-armin-1UKx5_hhFLA-unsplash.jpg);
    background-size: cover;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    
}
.title-project4{
    background-color: rgb(75, 156, 196);
    margin-top: 250px;
    margin-left: 20px;
    padding: 5px;

}
.contact-info{
    width: 100%;
    height: 25px;

}

footer{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 20px 0;
    justify-content: space-between;
    margin-top: 30px;
    background-color: rgb(177, 192, 218);
}

footer ul li{
    flex-wrap: wrap;

    display: inline-block;
    list-style: none;
    margin: 0 20px;
}


/* RESPONSIVE PAGE */

@media screen and (max-width: 450px) {
    .nav-bar {
        flex-wrap: wrap;
    }

    nav ul li{
        flex-wrap: wrap;
        margin: 0 5px;
    }

    .detail{
        width: 100%;
        height: 350px;
     }
    .container-first-project{
        flex-wrap: wrap;
    }
    .projects{
        flex-wrap: wrap;
    }

    footer{
        width: 100%;
        flex-wrap: wrap;
        padding: 40px 46px;
    }
    
    footer ul li{
        flex-wrap: wrap;
    }
  }